# Stellar Network: "testnet" | "mainnet"
NEXT_PUBLIC_STELLAR_NETWORK=testnet

# Horizon API URL
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org

# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:4000
